body{
    font-family: Arial, sans-serif;
    margin: 20PX;
    padding: 0;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h1{
    font-size: 24px;
    color: #333;

}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}